<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MapPin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E2C90AF51C8BD8C50037A407</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2C90B091C8BD8C60037A407</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2C90B141C8BD8C60037A407</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
